{% extends 'base.html.twig' %}

{% block title %}Captain Log - Mortgage{% endblock %}

{% block pageContent %}

    {% if mortgage.signed %}
        <div class="alert alert-info w-315">
            Mortgage signed! It can not be updated.
        </div>
    {% endif %}


    {{ form_start(form) }}

    <fieldset class="fieldset bg-base-200 border-base-300 gap-4 p-4 border rounded w-315">
        <legend class="fieldset-legend">Mortgage</legend>

        {% if mortgage.id %}
            <div>
                <label class="label">Code</label>
                <div><b>{{ mortgage.code }}</b></div>
            </div>
        {% endif %}

        <div class="grid grid-cols-3 gap-4">
            <div>
                <label class="label">Ship</label>
                {{ form_widget(form.ship) }}
                {{ form_errors(form.ship) }}
            </div>
            <div>
                <label class="label">Start Day</label>
                {{ form_widget(form.startDay) }}
                {{ form_errors(form.startDay) }}
            </div>
            <div>
                <label class="label">Start Year</label>
                {{ form_widget(form.startYear) }}
                {{ form_errors(form.startYear) }}
            </div>
        </div>

        <div class="grid grid-cols-3 gap-4">
            <div>
                <label class="label">Discount(%)</label>
                {{ form_widget(form.discount) }}
                {{ form_errors(form.discount) }}
            </div>
            <div>
                <label class="label">Ship Shares</label>
                {{ form_widget(form.shipShares) }}
                {{ form_errors(form.shipShares) }}
            </div>
            <div>
                <label class="label">Advance Payment(Cr)</label>
                {{ form_widget(form.advancePayment) }}
                {{ form_errors(form.advancePayment) }}
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            {{ include('mortgage/interest_rate_table.html.twig') }}
            {{ include('mortgage/insurance_table.html.twig') }}
        </div>

        {% if mortgage.id %}
            <div class="grid grid-cols-1 gap-4">
                {{ include('mortgage/mortgage_summary.html.twig') }}
            </div>

            <div class="grid grid-cols-1 gap-4">
                <div class="w-full">
                    <label class="label">
                        <span class="label-text">
                            Crew
                        </span>
                    </label>

                    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-1">
                        <table class="table border-separate border-spacing-0 inner-bordered-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Roles</th>
                                    <th>Captain</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in mortgage.ship.crews %}
                                <tr>
                                    <td>{{ member.code }}</td>
                                    <td>{{ member.name }} "{{ member.nickname }}" {{ member.surname }}</td>
                                    <td>
                                        {% for role in member.shipRoles %}
                                            {{ role.name }}
                                            {% if loop.index != loop.last %}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if member.captain %}
                                            <div class="flex justify-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                                </svg>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}

    </fieldset>

    <button
        type="submit"
        name="action" value="save"
        class="btn btn-outline btn-primary mt-4 mb-4 mr-4"
        {% if not is_granted("MORTGAGE_EDIT", mortgage) %} disabled {% endif %}
    >Save</button>

    <button
        type="submit"
        name="action" value="sign"
        class="btn btn-outline btn-warning mt-4 mb-4 mr-4"
        {% if not is_granted("MORTGAGE_SIGN", mortgage) %} disabled {% endif %}
    >Sign</button>
    <a href="{{ path('app_mortgage_index') }}" role="button" class="btn btn-outline btn-default mt-4 mb-4 mr-4">Cancel</a>

    {{ form_end(form) }}

    <dialog id="coverage_modal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Insurance Coverage</h3>
            <p class="py-4">Press ESC key or click the button below to close</p>
            <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog>

    <dialog id="interest_rate_modal" class="modal">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Hello!</h3>
            <p class="py-4">Press ESC key or click the button below to close</p>
            <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
            </div>
        </div>
    </dialog>

{% endblock %}
