{% set locale = app.request.locale ?? 'en' %}

<div class="w-full">
    <label class="label">
        <span class="label-text">
            Mortgage Payment Informations
        </span>
    </label>

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-1">
        <table class="table border-separate border-spacing-0 inner-bordered-table">
            <thead>
                <tr>
                    <th>Mortgage Monthly(Cr)</th>
                    <th>Mortgage Annual(Cr)</th>
                    <th>Insurance Monthly(Cr)</th>
                    <th>Insurance Annual(Cr)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right">{{ summary.mortgage_monthly|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                    <td class="text-right">{{ summary.mortgage_annual|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                    <td class="text-right">{{ summary.insurance_monthly|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                    <td class="text-right">{{ summary.insurance_annual|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex">
        <div class="flex-auto overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-1 mt-2">
            <table class="table border-separate border-spacing-0 inner-bordered-table">
                <thead>
                    <tr>
                        <th>Ship Cost(Cr)</th>
                        <th>Total Mortgage(Cr)</th>
                        <th>Monthly Payment(Cr)</th>
                        <th>Annual Payment(Cr)</th>
                        <th>Installments Paid</th>
                        <th>Last Payment</th>
                        <th>Total Paid(Cr)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-right">{{ summary.ship_cost|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                        <td class="text-right">{{ summary.total_mortgage|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                        <td class="text-right">{{ summary.total_monthly_payment|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                        <td class="text-right">{{ summary.total_annual_payment|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                        <td class="text-right">{{ summary.installments_paid }}</td>
                        <td class="text-right">
                            {% if last_payment %}
                                {{ last_payment.paymentDay }} / {{ last_payment.paymentYear }}
                            {% endif %}
                        </td>
                        <td class="text-right">{{ summary.total_mortgage_paid|format_number({ min_fraction_digit: 2, max_fraction_digit: 2, grouping_used: true }, 'decimal', 'default', locale) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button
                type="button"
                name="action" value="save"
                class="btn btn-outline btn-primary mt-3 mb-4 mr-4 ml-4"
                onclick="pay_installment_modal.showModal()"
                {% if not can_pay %} disabled {% endif %}
            >Pay</button>
        </div>

    </div>

</div>
