{% extends 'base.html.twig' %}

{% block title %}Captain Log - Campaign{% endblock %}

{% block pageContent %}

    <div class="p-6">

        {{ form_start(form) }}

        <fieldset class="fieldset grid grid-cols-2 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
            <legend class="fieldset-legend">Campaign</legend>

            <div class="col-span-2">
                <div class="alert alert-info alert-outline shadow-sm w-full">
                    <div class="flex items-center gap-3">
                        {% include 'icons/campaign.html.twig' %}
                        <div>
                            <h3 class="font-semibold">Campaign</h3>
                            <p class="text-sm opacity-80">Titolo, descrizione e anno di inizio; sessionDay/sessionYear saranno gestiti a parte.</p>
                        </div>
                    </div>
                </div>
            </div>

            {% if campaign.id %}
                <div>
                    <label class="label">Code</label>
                    <div><b>{{ campaign.code }}</b></div>
                </div>
                <div></div>
            {% endif %}

            <div>
                <label class="label">Title</label>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>

            <div>
                <label class="label">Starting year</label>
                {{ form_widget(form.startingYear) }}
                {{ form_errors(form.startingYear) }}
            </div>

            <div class="col-span-2">
                <label class="label">Description</label>
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>

        </fieldset>

        <button type="submit" class="btn btn-outline btn-primary mt-4 mb-4 mr-4">Save</button>
        <a href="{{ path('app_campaign_index') }}" role="button" class="btn btn-outline btn-default mt-4 mb-4 mr-4">Cancel</a>

        {{ form_end(form) }}
    </div>

{% endblock %}
