{% extends 'base.html.twig' %}

{% set CAN_EDIT = constant('App\\Security\\Voter\\ShipVoter::EDIT') %}
{% set can_edit = is_granted(CAN_EDIT, ship) %}

{% block title %}Captain Log - Ship{% endblock %}

{% block pageContent %}

    {% if ship.mortgageSigned %}
        <div class="alert alert-info alert-outline w-315">
            The Ship has Mortgage signed! It can not be updated.
        </div>
    {% endif %}

    {{ form_start(form) }}

    <fieldset class="fieldset grid grid-cols-2 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
        <legend class="fieldset-legend">Ship</legend>

        {% if ship.id %}
            <div>
                <label class="label">Code</label>
                <div><b>{{ ship.code }}</b></div>
            </div>
            <div></div>
        {% endif %}

        <div>
            <label class="label">Name</label>
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>

        <div>
            <label class="label">Type</label>
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
        </div>

        <div>
            <label class="label">Class</label>
            {{ form_widget(form.class) }}
            {{ form_errors(form.class) }}
        </div>
        <div></div>

        <div>
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            {{ form_errors(form.price) }}
        </div>

    </fieldset>

    <button type="submit"
            class="btn btn-outline btn-primary mt-4 mb-4 mr-4"
            {% if not can_edit %} disabled {% endif %}
    >
        Save
    </button>
    <a href="{{ path('app_ship_index') }}" role="button" class="btn btn-outline btn-default mt-4 mb-4 mr-4">Cancel</a>

    {{ form_end(form) }}

{% endblock %}

