{% extends 'base.html.twig' %}

{% block title %}Captain Log - Cost{% endblock %}

{% block pageContent %}

    {{ form_start(form) }}

    {{ form_widget(form._token) }}

    <fieldset class="fieldset grid grid-cols-2 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
        <legend class="fieldset-legend">Cost</legend>

        {% if cost.id %}
            <div>
                <label class="label">Code</label>
                <div><b>{{ cost.code }}</b></div>
            </div>
            <div></div>
        {% endif %}

        <div>
            <label class="label">Title</label>
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>

        <div>
            <label class="label">Amount(Cr)</label>
            {{ form_widget(form.amount) }}
            {{ form_errors(form.amount) }}
        </div>

        <div>
            <label class="label">Payment Day</label>
            {{ form_widget(form.paymentDay) }}
            {{ form_errors(form.paymentDay) }}
        </div>

        <div>
            <label class="label">Payment Year</label>
            {{ form_widget(form.paymentYear) }}
            {{ form_errors(form.paymentYear) }}
        </div>

        <div>
            <label class="label">Category</label>
            {{ form_widget(form.costCategory) }}
            {{ form_errors(form.costCategory) }}
        </div>

        <div>
            <label class="label">Ship</label>
            {{ form_widget(form.ship) }}
            {{ form_errors(form.ship) }}
        </div>

        <div class="col-span-2">
            <label class="label">Note</label>
            {{ form_widget(form.note) }}
            {{ form_errors(form.note) }}
        </div>

    </fieldset>

    <button type="submit" class="btn btn-outline btn-primary mt-4 mb-4 mr-4">
        Save
    </button>
    <a href="{{ path('app_cost_index') }}" role="button" class="btn btn-outline btn-default mt-4 mb-4 mr-4">Cancel</a>

    {{ form_end(form, { render_rest: false }) }}

{% endblock %}
