<!DOCTYPE html>
<html data-theme="business" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}ELaRA{% endblock %}</title>
    
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon-16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('img/favicon-48.png') }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ asset('img/favicon-64.png') }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ asset('img/favicon-128.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('img/android-chrome-192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ asset('img/android-chrome-512.png') }}">
    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="bg-base-200 min-h-screen">
    <div class="flex flex-col items-center justify-center min-h-screen px-4 py-8">
        <div class="w-full max-w-6xl rounded-2xl p-6 bg-gradient-to-r from-emerald-500 via-slate-800 to-slate-900 text-cyan-100">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div role="alert" class="alert alert-{{ label }} alert-outline mb-3">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block pageContent %}{% endblock %}
        </div>
    </div>
</body>
</html>
