<fieldset class="fieldset grid grid-cols-3 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
    <legend class="fieldset-legend">
        {% include 'icons/income.html.twig' %} CONTRACT Details
    </legend>

    <div>
        {{ form_label(detail_form.jobType) }}
        {{ form_widget(detail_form.jobType) }}
        {{ form_errors(detail_form.jobType) }}
    </div>

    <div class="col-span-3 grid grid-cols-3 gap-4">
        <div>
            {{ form_label(detail_form.location) }}
            {{ form_widget(detail_form.location) }}
            {{ form_errors(detail_form.location) }}
        </div>
        <div>
            {{ form_label(detail_form.objective) }}
            {{ form_widget(detail_form.objective) }}
            {{ form_errors(detail_form.objective) }}
        </div>
        <div>
            {{ form_label(detail_form.successCondition) }}
            {{ form_widget(detail_form.successCondition) }}
            {{ form_errors(detail_form.successCondition) }}
        </div>
    </div>

    {% set data = detail_form.vars.data is defined ? detail_form.vars.data : null %}
    {% set start_day = data ? data.startDay : null %}
    {% set start_year = data ? data.startYear : null %}
    {% set start_value = start_day is not null and start_year is not null ? start_day|format('%03d') ~ '/' ~ start_year : '' %}
    {% set deadline_day = data ? data.deadlineDay : null %}
    {% set deadline_year = data ? data.deadlineYear : null %}
    {% set deadline_value = deadline_day is not null and deadline_year is not null ? deadline_day|format('%03d') ~ '/' ~ deadline_year : '' %}
    <div class="col-span-3 grid grid-cols-2 gap-4">
        <div class="col-span-1" data-controller="imperial-date">
            {{ form_label(detail_form.startDate) }}
            {{ form_widget(detail_form.startDate.display, {
                attr: {
                    'data-imperial-date-prev-icon': '«',
                    'data-imperial-date-next-icon': '»',
                    'data-imperial-date-initial-day': start_day ?? '',
                    'data-imperial-date-initial-year': start_year ?? '',
                    'value': start_value,
                }
            }) }}
            {{ form_widget(detail_form.startDate.year) }}
            {{ form_widget(detail_form.startDate.day) }}
            {{ form_errors(detail_form.startDate) }}
        </div>
        <div class="col-span-1" data-controller="imperial-date">
            {{ form_label(detail_form.deadlineDate) }}
            {{ form_widget(detail_form.deadlineDate.display, {
                attr: {
                    'data-imperial-date-prev-icon': '«',
                    'data-imperial-date-next-icon': '»',
                    'data-imperial-date-initial-day': deadline_day ?? '',
                    'data-imperial-date-initial-year': deadline_year ?? '',
                    'value': deadline_value,
                }
            }) }}
            {{ form_widget(detail_form.deadlineDate.year) }}
            {{ form_widget(detail_form.deadlineDate.day) }}
            {{ form_errors(detail_form.deadlineDate) }}
        </div>
    </div>
    
    <div>
        {{ form_label(detail_form.bonus) }}
        {{ form_widget(detail_form.bonus) }}
        {{ form_errors(detail_form.bonus) }}
    </div>
    <div>
        {{ form_label(detail_form.deposit) }}
        {{ form_widget(detail_form.deposit) }}
        {{ form_errors(detail_form.deposit) }}
    </div>

    <div class="col-span-3 grid grid-cols-3 gap-4">
        <div>
            {{ form_label(detail_form.expensesPolicy) }}
            {{ form_widget(detail_form.expensesPolicy) }}
            {{ form_errors(detail_form.expensesPolicy) }}
        </div>
        <div>
            {{ form_label(detail_form.restrictions) }}
            {{ form_widget(detail_form.restrictions) }}
            {{ form_errors(detail_form.restrictions) }}
        </div>
        <div>
            {{ form_label(detail_form.confidentialityLevel) }}
            {{ form_widget(detail_form.confidentialityLevel) }}
            {{ form_errors(detail_form.confidentialityLevel) }}
        </div>
    </div>

    <div class="col-span-3 grid grid-cols-2 gap-4">
        <div>
            {{ form_label(detail_form.failureTerms) }}
            {{ form_widget(detail_form.failureTerms) }}
            {{ form_errors(detail_form.failureTerms) }}
        </div>
        <div>
            {{ form_label(detail_form.cancellationTerms) }}
            {{ form_widget(detail_form.cancellationTerms) }}
            {{ form_errors(detail_form.cancellationTerms) }}
        </div>
    </div>

</fieldset>
