<fieldset class="fieldset grid grid-cols-3 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
    <legend class="fieldset-legend">
        {% include 'icons/income.html.twig' %} INSURANCE Details
    </legend>

    <div>
        {{ form_label(detail_form.incidentRef) }}
        {{ form_widget(detail_form.incidentRef) }}
        {{ form_errors(detail_form.incidentRef) }}
    </div>
    <div>
        {{ form_label(detail_form.incidentDay) }}
        {{ form_widget(detail_form.incidentDay) }}
        {{ form_errors(detail_form.incidentDay) }}
    </div>
    <div>
        {{ form_label(detail_form.incidentYear) }}
        {{ form_widget(detail_form.incidentYear) }}
        {{ form_errors(detail_form.incidentYear) }}
    </div>
    <div>
        {{ form_label(detail_form.incidentLocation) }}
        {{ form_widget(detail_form.incidentLocation) }}
        {{ form_errors(detail_form.incidentLocation) }}
    </div>
    <div>
        {{ form_label(detail_form.incidentCause) }}
        {{ form_widget(detail_form.incidentCause) }}
        {{ form_errors(detail_form.incidentCause) }}
    </div>
    <div>
        {{ form_label(detail_form.lossType) }}
        {{ form_widget(detail_form.lossType) }}
        {{ form_errors(detail_form.lossType) }}
    </div>
    <div>
        {{ form_label(detail_form.verifiedLoss) }}
        {{ form_widget(detail_form.verifiedLoss) }}
        {{ form_errors(detail_form.verifiedLoss) }}
    </div>
    <div>
        {{ form_label(detail_form.deductible) }}
        {{ form_widget(detail_form.deductible) }}
        {{ form_errors(detail_form.deductible) }}
    </div>

    <div>
        {{ form_label(detail_form.acceptanceEffect) }}
        {{ form_widget(detail_form.acceptanceEffect) }}
        {{ form_errors(detail_form.acceptanceEffect) }}
    </div>

    {% set pay_help_id = detail_form.paymentTerms.vars.id ~ '-help' %}
    <div class="col-span-3">
        <div class="flex items-center gap-2">
            {{ form_label(detail_form.paymentTerms) }}
            <label for="{{ pay_help_id }}" class="badge badge-outline cursor-pointer">?</label>
        </div>
        {{ form_widget(detail_form.paymentTerms) }}
        {{ form_errors(detail_form.paymentTerms) }}
        <input type="checkbox" id="{{ pay_help_id }}" class="modal-toggle" />
        <div class="modal" role="dialog">
            <div class="modal-box">
                <h3 class="font-bold">Payment terms</h3>
                <p class="py-2 text-sm">How and when the insurer pays the claim (advance, final settlement, conditions).</p>
                <div class="modal-action">
                    <label for="{{ pay_help_id }}" class="btn btn-primary">Close</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.subrogationTerms) }}
        {{ form_widget(detail_form.subrogationTerms) }}
        {{ form_errors(detail_form.subrogationTerms) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.coverageNotes) }}
        {{ form_widget(detail_form.coverageNotes) }}
        {{ form_errors(detail_form.coverageNotes) }}
    </div>
</fieldset>
