<fieldset class="fieldset grid grid-cols-3 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
    <legend class="fieldset-legend">
        {% include 'icons/income.html.twig' %} MAIL Details
    </legend>

    <div>
        {{ form_label(detail_form.origin) }}
        {{ form_widget(detail_form.origin) }}
        {{ form_errors(detail_form.origin) }}
    </div>
    <div>
        {{ form_label(detail_form.destination) }}
        {{ form_widget(detail_form.destination) }}
        {{ form_errors(detail_form.destination) }}
    </div>

    <div class="col-span-3 grid grid-cols-2 gap-4">
        <div class="col-span-1 grid grid-cols-2 gap-4">
            <div>
                {{ form_label(detail_form.dispatchDay) }}
                {{ form_widget(detail_form.dispatchDay) }}
                {{ form_errors(detail_form.dispatchDay) }}
            </div>
            <div>
                {{ form_label(detail_form.dispatchYear) }}
                {{ form_widget(detail_form.dispatchYear) }}
                {{ form_errors(detail_form.dispatchYear) }}
            </div>
        </div>
        <div class="col-span-1 grid grid-cols-2 gap-4">
            <div>
                {{ form_label(detail_form.deliveryDay) }}
                {{ form_widget(detail_form.deliveryDay) }}
                {{ form_errors(detail_form.deliveryDay) }}
            </div>
            <div>
                {{ form_label(detail_form.deliveryYear) }}
                {{ form_widget(detail_form.deliveryYear) }}
                {{ form_errors(detail_form.deliveryYear) }}
            </div>
        </div>
    </div>

    <div>
        {{ form_label(detail_form.mailType) }}
        {{ form_widget(detail_form.mailType) }}
        {{ form_errors(detail_form.mailType) }}
    </div>
    <div>
        {{ form_label(detail_form.packageCount) }}
        {{ form_widget(detail_form.packageCount) }}
        {{ form_errors(detail_form.packageCount) }}
    </div>
    <div>
        {{ form_label(detail_form.totalMass) }}
        {{ form_widget(detail_form.totalMass) }}
        {{ form_errors(detail_form.totalMass) }}
    </div>
    <div>
        {{ form_label(detail_form.securityLevel) }}
        {{ form_widget(detail_form.securityLevel) }}
        {{ form_errors(detail_form.securityLevel) }}
    </div>
    <div class="col-span-2">
        {{ form_label(detail_form.sealCodes) }}
        {{ form_widget(detail_form.sealCodes) }}
        {{ form_errors(detail_form.sealCodes) }}
    </div>
    {% set pay_help_id = detail_form.paymentTerms.vars.id ~ '-help' %}
    <div class="col-span-3">
        <div class="flex items-center gap-2">
            {{ form_label(detail_form.paymentTerms) }}
            <label for="{{ pay_help_id }}" class="badge badge-outline badge-info cursor-pointer">?</label>
        </div>
        {{ form_widget(detail_form.paymentTerms) }}
        {{ form_errors(detail_form.paymentTerms) }}
        <input type="checkbox" id="{{ pay_help_id }}" class="modal-toggle hidden" />
        <div class="modal" role="dialog">
            <div class="modal-box">
                <h3 class="font-bold">Payment terms</h3>
                <p class="py-2 text-sm">When and how the mail service is paid (prepaid, COD, staged delivery).</p>
                <div class="modal-action">
                    <label for="{{ pay_help_id }}" class="btn btn-primary">Close</label>
                </div>
            </div>
        </div>
    </div>
    {% set pod_help_id = detail_form.proofOfDelivery.vars.id ~ '-help' %}
    <div class="col-span-3">
        <div class="flex items-center gap-2">
            {{ form_label(detail_form.proofOfDelivery) }}
            <label for="{{ pod_help_id }}" class="badge badge-outline badge-info cursor-pointer">?</label>
        </div>
        {{ form_widget(detail_form.proofOfDelivery) }}
        {{ form_errors(detail_form.proofOfDelivery) }}
        <input type="checkbox" id="{{ pod_help_id }}" class="modal-toggle hidden" />
        <div class="modal" role="dialog">
            <div class="modal-box">
                <h3 class="font-bold">Proof of delivery</h3>
                <p class="py-2 text-sm">Select the evidence required to validate delivery (signature, stamp, barcode, secure drop, etc.).</p>
                <div class="modal-action">
                    <label for="{{ pod_help_id }}" class="btn btn-primary">Close</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.liabilityLimit) }}
        {{ form_widget(detail_form.liabilityLimit) }}
        {{ form_errors(detail_form.liabilityLimit) }}
    </div>
</fieldset>
