<fieldset class="fieldset grid grid-cols-3 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
    <legend class="fieldset-legend">
        {% include 'icons/income.html.twig' %} PRIZE Details
    </legend>

    <div class="col-span-3 grid grid-cols-2 gap-4">
        <div>
            {{ form_label(detail_form.legalBasis) }}
            {{ form_widget(detail_form.legalBasis) }}
            {{ form_errors(detail_form.legalBasis) }}
        </div>
        <div>
            {{ form_label(detail_form.caseRef) }}
            {{ form_widget(detail_form.caseRef) }}
            {{ form_errors(detail_form.caseRef) }}
        </div>
    </div>

    <div class="col-span-3 grid grid-cols-3 gap-4">
        <div>
            {{ form_label(detail_form.prizeDescription) }}
            {{ form_widget(detail_form.prizeDescription) }}
            {{ form_errors(detail_form.prizeDescription) }}
        </div>
        <div>
            {{ form_label(detail_form.estimatedValue) }}
            {{ form_widget(detail_form.estimatedValue) }}
            {{ form_errors(detail_form.estimatedValue) }}
        </div>
        <div>
            {{ form_label(detail_form.disposition) }}
            {{ form_widget(detail_form.disposition) }}
            {{ form_errors(detail_form.disposition) }}
        </div>
    </div>

    {% set pay_help_id = detail_form.paymentTerms.vars.id ~ '-help' %}
    <div class="col-span-3">
        <div class="flex items-center gap-2">
            {{ form_label(detail_form.paymentTerms) }}
            <label for="{{ pay_help_id }}" class="badge badge-outline badge-info cursor-pointer">?</label>
        </div>
        {{ form_widget(detail_form.paymentTerms) }}
        {{ form_errors(detail_form.paymentTerms) }}
        <input type="checkbox" id="{{ pay_help_id }}" class="modal-toggle hidden" />
        <div class="modal" role="dialog">
            <div class="modal-box">
                <h3 class="font-bold">Payment terms</h3>
                <p class="py-2 text-sm">Prize award settlement: when and how proceeds are paid or distributed.</p>
                <div class="modal-action">
                    <label for="{{ pay_help_id }}" class="btn btn-primary">Close</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.shareSplit) }}
        {{ form_widget(detail_form.shareSplit) }}
        {{ form_errors(detail_form.shareSplit) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.awardTrigger) }}
        {{ form_widget(detail_form.awardTrigger) }}
        {{ form_errors(detail_form.awardTrigger) }}
    </div>
</fieldset>
