<fieldset class="fieldset grid grid-cols-3 bg-base-200 border-base-300 gap-4 p-4 border rounded w-250">
    <legend class="fieldset-legend">
        {% include 'icons/income.html.twig' %} SALVAGE Details
    </legend>

    <div>
        {{ form_label(detail_form.caseRef) }}
        {{ form_widget(detail_form.caseRef) }}
        {{ form_errors(detail_form.caseRef) }}
    </div>
    <div>
        {{ form_label(detail_form.source) }}
        {{ form_widget(detail_form.source) }}
        {{ form_errors(detail_form.source) }}
    </div>
    <div>
        {{ form_label(detail_form.siteLocation) }}
        {{ form_widget(detail_form.siteLocation) }}
        {{ form_errors(detail_form.siteLocation) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.recoveredItemsSummary) }}
        {{ form_widget(detail_form.recoveredItemsSummary) }}
        {{ form_errors(detail_form.recoveredItemsSummary) }}
    </div>
    <div>
        {{ form_label(detail_form.qtyValue) }}
        {{ form_widget(detail_form.qtyValue) }}
        {{ form_errors(detail_form.qtyValue) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.hazards) }}
        {{ form_widget(detail_form.hazards) }}
        {{ form_errors(detail_form.hazards) }}
    </div>
    {% set pay_help_id = detail_form.paymentTerms.vars.id ~ '-help' %}
    <div class="col-span-3">
        <div class="flex items-center gap-2">
            {{ form_label(detail_form.paymentTerms) }}
            <label for="{{ pay_help_id }}" class="badge badge-outline badge-info cursor-pointer badge-xs">?</label>
        </div>
        {{ form_widget(detail_form.paymentTerms) }}
        {{ form_errors(detail_form.paymentTerms) }}
        <input type="checkbox" id="{{ pay_help_id }}" class="modal-toggle hidden" />
        <div class="modal" role="dialog">
            <div class="modal-box">
                <h3 class="font-bold">Payment terms</h3>
                <p class="py-2 text-sm">How the salvage award is paid: triggers, splits, escrow, timing.</p>
                <div class="modal-action">
                    <label for="{{ pay_help_id }}" class="btn btn-primary">Close</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.splitTerms) }}
        {{ form_widget(detail_form.splitTerms) }}
        {{ form_errors(detail_form.splitTerms) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.rightsBasis) }}
        {{ form_widget(detail_form.rightsBasis) }}
        {{ form_errors(detail_form.rightsBasis) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.awardTrigger) }}
        {{ form_widget(detail_form.awardTrigger) }}
        {{ form_errors(detail_form.awardTrigger) }}
    </div>
    <div class="col-span-3">
        {{ form_label(detail_form.disputeProcess) }}
        {{ form_widget(detail_form.disputeProcess) }}
        {{ form_errors(detail_form.disputeProcess) }}
    </div>
</fieldset>
